<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../Public/css/style.css" rel="stylesheet" type="text/css">
    <title>art</title>
</head>
<body>
    <div class="header">
        <h1>Gondwana dyrepark</h1>
    </div>

    <div class="m-navbar">
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/Public/registrer">Registrer</a></li>
            <li><a href="/Public/login">Log in</a></li>
            <li><a href="/logut">Log ut</a></li>
            <li><a href="/profil" style="float:right">Din bruker</a></li>
          </ul>
    </div>

<h1>Art side</h1>

        Art ID: {{art.artid}}<br>
        Navn på norsk: {{art.norskNavn}}<br>
        Navn på latinsk: {{art.latinskNavn}}<br>
        Forventet leveadler: {{art.levealder}}<br>
        Habitat ID: {{art.habitatID}}<br>


    <div class="menu">
        <ul>
            <li><a href="/visdyr">Se på dyrene</a></li>
            <li><a href="/angi">Registrer ny dyr</a></li>
        </ul>
    </div>
</body>
</html>