<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../CSS/style.css" rel="stylesheet" type="text/css">
    <title>Dyr</title>
</head>
<body>
    <div class="header">
        <h1>Gondwana dyrepark</h1>
    </div>

    <div class="m-navbar">
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/Public/registrer">Registrer</a></li>
            <li><a href="/Public/login">Log in</a></li>
            <li><a href="/logut">Log ut</a></li>
            <li><a href="/profil" style="float:right">Din bruker</a></li>
          </ul>
    </div>

    <h1>Liste av dyr</h1>

    <div class="Liste">
        <table>
        <thead>
            <tr>
                <td>Navn</td>
                <td>Vekt</td>
                <td>Kjønn</td>
                <td>Fødselsdato</td>
                <td>Art ID</td>
                <td>Dyr ID</td>
                
            </tr>
        </thead>
        <tbody>
            {{#each dyr}}
                <tr>
                    <td>{{this.navn}}</td>
                    <td>{{this.vekt}}</td>
                    <td>{{this.kjonn}}</td>
                    <td>{{this.fodselsdato}}</td>
                    <td>{{this.artID}}</td>
                    <td>{{this.dyrid}}</td>
                    <td><form action="/Slettdyr" method="post">
                            <input type="hidden" name="dyrid" value="{{this.dyrid}}">
                            <input type="submit" value="Slett">
                        </form>
                    </td>
                    <td>
                        <form action="/Endredyr" method="post">
                            <input type="hidden" name="dyrid" value="{{this.dyrid}}">
                            Navn: 
                            <input type="text" name="navn" value="{{this.navn}}">
                            Vekt: 
                            <input type="number" name="vekt" value="{{this.vekt}}">
                            Kjønn: 
                            <input type="text" name="kjonn" value="{{this.kjonn}}">
                            Fødselsdato: 
                            <input type="date" name="fodselsdato" value="{{this.fodselsdato}}">
                            Art: 
                            <input type="number" name="artID" value="{{this.artID}}">
                            <input type="submit" value="Updater">
                        </form><br>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table><br>
</div>

    <div class="menu">
        <ul>
            <li><a href="/visart">Se på artene</a></li>
            <li><a href="/angi">Registrer ny dyr</a></li>
        </ul>
    </div>
</body>
</html>